@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add to the end of /src/index.css */

@font-face {
  font-family: "CinzelDecorativeBlack";
  src: local("CinzelDecorative-Black");
  src: url("./assets/fonts/CinzelDecorative-Black.ttf") format("truetype");
}
@font-face {
  font-family: "CinzelDecorativeBold";
  src: local("CinzelDecorative-Bold");
  src: url("./assets/fonts/CinzelDecorative-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "CinzelDecorativeRegular";
  src: local("CinzelDecorative-Regular");
  src: url("./assets/fonts/CinzelDecorative-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "SimulateMinds";
  src: local("Simulate Minds - Demo");
  src: url("./assets/fonts/SimulateMinds-Demo.ttf") format("truetype");
}

.modal {
  position: absolute;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  left: 0;
  right: 0;
  top: 100px;
  border: 0.5px solid gray;
}

.container {
  margin: 0 auto;
  max-width: 900px;
}
